/* SPLIT STUFF  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: system-ui, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

body {
  height: 100vh;
  background-color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #fdfdff;
  display:flex;
  width: 400px;
  height: 400px;    
}

.scroller {
  overflow-y: scroll;
  padding: .6em;
  width: 98%;
}

.scrollerDragger {
  width: 2%;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.scroll {
  border-radius: 10px;
  position: absolute;
  width: 40%;
  background-color: #222222;
  min-height: 30px;
  cursor: pointer;
}


.scoller-layout-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 10px 10px;
}

@media screen and (min-width: 550px) {
  .scroller {
    grid-template-columns: repeat(2, 1fr);
  }
}

.scroller::-webkit-scrollbar {
  display: none;
}


.item {
  background-color: #000814;
  height: 200px;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover {
  background-color: whitesmoke;
  border: 1px solid #000814;
  transform: scale(1.02); /* scale up the item */
  transition: all 0.4s ease;
}

.scroller::-webkit-scrollbar {
  display: hidden;
}

.scroll:active {
  background-color: rgba(0, 0, 0, 0.4);
}

.scroll:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
